mixin videoPreview(video, width, height, mediaType, title, altText, classValue, idValue, details)
    li(class=`card__item-preview ${classValue}` id=`${idValue}`)
        button(class="btn__item-preview")
            div(class="relative")
                video(class="gallery-img" width=`${width}` height=`${height}` controls)
                    source(src=`${video}` type="video/mp4")
            //- if details
             //-     p(class="details") #{details}
            div 
                div(class="video") 
                    p #{mediaType}
                    p #{title}
                p(class="details mobile") #{details}
                

