extends ../layout

block content
    form(method='POST' action='')
        div.form-group
        label(for='item-name') Item Name:
        input#item-name.form-control(type='text' placeholder='Item name' name='item-name' required='true' value=(undefined===item ? '' : item.name))
        div.form-group
        label(for='item-description') Item Description:
        textarea#item-description.form-control(type='textarea' placeholder='Item description' name='item-description' required='true' value=(undefined===item ? '' : item.description))
        div.form-group
        label(for='print-type') Print Type:
        input#print-type.form-control(type='text' placeholder='Water color, sketch, mix-media, print' name='print-type' required='true' value=(undefined===item ? '' : item.printType))
        div.form-group
        label(for="print-info") Print Info:
        input#print-info.form-control(type='text' placeholder='e.g. "original - 1 / 11", "original - 1 / 1"' name='print-info' required='true' value=(undefined===item ? '' : item.printInfo))
        div.form-group
        label Category:
            div
              for category in categories
                div 
                    input.checkbox-input(type="checkbox", name="category", id=`category-${category.name}`, value=category._id, checked=category.checked)
                    label(for=`category-${category.name}`) #{category.name}
        
        div.form-group
        p add series in here, but need to set those up
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
        for error in errors
            li!= error.msg